<div class="container">
    <div class="row">
          <div class="  col-sm-4 col-md-3 text-center">
            <%=link_to pages_database_path do%>
              <i class="fa-solid fa-database fa-3x"></i>
              <p class="mt-3">Database</p>
            <%end%>
          </div>
          <div class="  col-sm-4 col-md-3 text-center">
            <a href="#">
              <i class="fa-solid fa-user fa-3x"></i>
              <p class="mt-3">User</p>
            </a>
          </div>
          <div class="  col-sm-4 col-md-3 text-center">
            <a href="#">
              <i class="fa-solid fa-download fa-3x"></i>
              <p class="mt-3">Download</p>
            </a>
          </div>
    </div>
        <div class="row">
          <div class=" col col-sm-4 col-md-3 text-center">
            <a href="#">
              <i class="fa-solid fa-industry fa-3x"></i>
              <p class="mt-3">Industry</p>
            </a>
          </div>
          <div class="col-sm-4 col-md-3 text-center">
            <a href="#">
              <i class="fa-solid fa-calculator fa-3x"></i>
              <p class="mt-3">Calculator</p>
            </a>
          </div>
          <div class="col-sm-4 col-md-3 text-center">
            <a href="#">
              <i class="fa-solid fa-house-laptop fa-3x"></i>
              <p class="mt-3">House Laptop</p>
            </a>
          </div>
        </div>
    </div>
  </div>
  